<section class="collection">
	<div class="link-more">
		<a class="link-more__text">
            {{ 'main_page.link.more_products'|trans }}
			<svg class="link-more__icon dev" viewbox="-3 0 12 10">
                <use :xlink:href="templatePath + 'images/sprite.svg#arrows__arrow-right'"></use>
			</svg>
        </a>
	</div>
	<h2 class="collection__title">{{ 'main_page.collection.title'|trans }}</h2>
	<div class="collection__content collection__content--desktop">
		{% for collection in collections %}
			<a class="collection__block" href="{{ collection.link }}">
				<div class="collection__card">
					<div class="collection__image">
						<img src="{{ collection.img }}" alt="{{ collection.title }}" class="collection__img">
					</div>
					<p class="collection__name">{{ collection.title }}</p>
				</div>
			</a>
		{% endfor %}
	</div>
	<component is="slider-collection" class="collection__content--mobile">
		{% for collection in collections %}
			<a class="collection__block" href="{{ collection.link }}">
				<div class="collection__card">
					<div class="collection__image">
						<img src="{{ collection.img }}" alt="{{ collection.title }}" class="collection__img">
					</div>
					<p class="collection__name">{{ collection.title }}</p>
				</div>
			</a>
		{% endfor %}
	</component>
</section>
