<main class="main">
    <component is="slider-main"
               :main-slides="{{ mainSlides|json_encode()|e('html_attr') }}"
    ></component>
    <component is="slider-promo" 
               :promo-banners="{{ promoBanners|json_encode()|e('html_attr') }}"
    ></component>
    <div class="bestsellers">
        <div class="bestsellers__title">Хиты продаж</div>
        <div class="bestsellers__block">
            <div class="bestsellers__banner">
                <img src="./demo_images/banners/promo4.png" alt="">
            </div>
            <div class="bestsellers__cards">
                <component 
                    is="card" 
                    :card-size="'short'" 
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
                <component 
                    is="card" 
                    :card-size="'short'" 
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
                <component 
                    is="card" 
                    :card-size="'short'" 
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
                <component 
                    is="card" 
                    :card-size="'short'" 
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
            </div>
        </div>
    </div>
    <section class="collection">
        <h2 class="collection__title">Подборка подборок</h2>
        <div class="collection__content">
            {% for collection in collections %}
                <a class="collection__block" href="{{ collection.link }}">
                    <div class="collection__card">
                        <img 
                            src="{{ collection.img }}"
                            alt="{{ collection.title }}" 
                            class="collection__img">
                    </div>
                    <p class="collection__name">{{ collection.title }}</p>
                </a>
            {% endfor %}
        </div>
    </section>
    <section class="new-items">
        <div class="new-items__title">Новинки от производителя</div>
        <div class="new-items__content">
            <div class="new-items__content_items-block">
                <component 
                    is="card" 
                    :card-size="'short'" 
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
                <component 
                    is="card" 
                    :card-size="'short'" 
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
                <component 
                    is="card" 
                    :card-size="'short'" 
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
                <component 
                    is="card" 
                    :card-size="'short'" 
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
                <component 
                    is="card" 
                    :card-size="'short'" 
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
                <component 
                    is="card" 
                    :card-size="'short'" 
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
            </div>
            <div class="new-items__content_banner">
                <img src="./demo_images/banners/promo4.png" alt="">
            </div>
        </div>
    </section>
    <section class="banners-section">
        <div class="banners-section__title">Плитка баннеров наших акций</div>
        <div class="banners-section__content">
            {% for actionBanner in actionBanners %}
                <a href="{{ actionBanner.link }}" class="banners-section__banner">
                    <img src="{{ actionBanner.img }}" alt="">
                </a>
            {% endfor %}
        </div>
    </section>
    <component 
        is="slider-cards" 
        :change-icon="true"
        :title="'Еще одна интересная подборка со скроллом'"
        :card-size="'short'"
        :products="{{ products|json_encode()|e('html_attr') }}"
    ></component>
</main>