<section class="new-items">
    <div class="slider-cards__title">{{ 'main_page.new_items.title'|trans }}</div>
    <div class="new-items__block">
        <div class="new-items__cards">
            {% for product in bestsellers %}
                <component
                    is="card"
                    :card-size="'short'"
                    :product="{{ product|json_encode()|e('html_attr') }}"
                >
                    {% include '../partials/card.twig' with {'product': product} %}
                </component>
            {% endfor %}
        </div>
    </div>
    <div class="slider-cards slider-cards--short-card">
        <component
            is="slider-cards"
            :dots="false"
            :quantity={{ noveltys|length }}
        >
            {% for product in noveltys %}
                <div class="slider-cards__slide">
                    <card
                        :change-icon="true"
                        :card-size="'short'"
                        :product="{{ product|json_encode()|e('html_attr') }}"
                    >
                        {% include '../partials/card.twig' with {'product': product} %}
                    </card>
                </div>
            {% endfor %}
        </component>
    </div>
    {#<div class="new-items__content">
        <div class="new-items__content_items-block">
            {% for product in noveltys %}
                <component
                    is="card"
                    :card-size="'short'"
                    :product="{{ product|json_encode()|e('html_attr') }}"
                ></component>
            {% endfor %}
        </div>
    </div>#}
</section>