<component is="sticky-header" class="header-all">
    <div class="topnav">
        <div class="container">
            <nav class="topnav__nav">
                <ul class="topnav__nav-list">
                    {% for link in headerLinks %}
                        <li class="topnav__nav-item">
                            <a href="{{ link.url }}" class="topnav__nav-link">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <component is="topnav-switch"
                       :active-country="{{ activeCountry|json_encode()|e('html_attr') }}"
            ></component>
            <a href="tel: {{ 'nav.tel'|trans }}" class="topnav__phone">
                <svg class="topnav__phone-icon" viewBox="0 0 15 15">
                    <use xlink:href="{{ templatePath }}images/sprite.svg#icons__phone"></use>
                </svg>
                {{ 'nav.tel'|trans }}
                <div class="topnav__phone-tooltip">
                    <div class="topnav__phone-tooltip-layout">
                        <svg viewBox="0 0 12 12">
                            <use xlink:href="{{ templatePath }}images/sprite.svg#icons__clock"></use>
                        </svg>
                        {{ 'header.tooltip.schedule_weekdays'|trans }}
                    </div>
                    <div class="topnav__phone-tooltip-layout">{{ 'header.tooltip.schedule_weekend'|trans }}</div>
                </div>
            </a>
        </div>
    </div>
    <header class="header">
        <div class="container">
            {# logos for desktop and mobile could be different #}
            <div class="header__logo-wrap">
                <a href="/" class="header__logo header__logo--desktop">
                    <svg viewBox="0 0 113 38" class="logo logo--ua">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#wt"></use>
                    </svg>
                </a>
                <a href="/" class="header__logo header__logo--mobile">
                    <svg viewBox="0 0 113 38" class="logo logo--ua">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#wt"></use>
                    </svg>
                </a>
            </div>
            <component is="header-search"></component>
            <component is="show-catalogue" :categories="{{ categories|json_encode()|e('html_attr') }}"></component>
            <component is="header-menu" :user="{{ user|json_encode()|e('html_attr') }}"></component>
        </div>
        {# <component is="header-block" 
                   :categories="{{ categories|json_encode()|e('html_attr') }}"
                   :user="{{ user|json_encode()|e('html_attr') }}"
        ></component> #}
    </header>
</component>