<component is="sticky-header">
    <template slot="topnav">
        <div class="container">
            <nav class="topnav__nav">
                <ul class="topnav__nav-list">
                    <li class="topnav__nav-item">
                        <a href="#" class="topnav__nav-link">{{ 'nav.title.about'|trans }}</a>
                    </li>
                    <li class="topnav__nav-item">
                        <a href="#" class="topnav__nav-link">{{ 'nav.branches'|trans }}</a>
                    </li>
                    <li class="topnav__nav-item">
                        <a href="#" class="topnav__nav-link">{{ 'nav.points_of_purchases'|trans }}</a>
                    </li>
                    <li class="topnav__nav-item">
                        <a href="#" class="topnav__nav-link">{{ 'nav.cooperation'|trans }}</a>
                    </li>
                    <li class="topnav__nav-item">
                        <a href="#" class="topnav__nav-link">{{ 'nav.brands'|trans }}</a>
                    </li>
                    <li class="topnav__nav-item">
                        <a href="#" class="topnav__nav-link">{{ 'nav.discounts'|trans }}</a>
                    </li>
                </ul>
            </nav>
            <component is="topnav-switch"></component>
            <a href="#" class="topnav__phone">
                <svg class="topnav__phone-icon" viewBox="0 0 15 15">
                    <use xlink:href="{{ templatePath }}images/sprite.svg#icons__phone"></use>
                </svg>
                {{ 'nav.tel'|trans }}
                <div class="topnav__phone-tooltip">
                    <div class="topnav__phone-tooltip-layout">
                        <svg viewBox="0 0 12 12">
                            <use xlink:href="{{ templatePath }}images/sprite.svg#icons__clock"></use>
                        </svg>
                        {{ 'tooltip.schedule_weekdays'|trans }}
                    </div>
                    <div class="topnav__phone-tooltip-layout">{{ 'tooltip.schedule_weekend'|trans }}</div>
                </div>
            </a>
        </div>
    </template>
    <template slot="header">
        <component is="header-block" 
                   :categories="{{ categories|json_encode()|e('html_attr') }}"
                   :user="{{ user|json_encode()|e('html_attr') }}"
        ></component>
    </template>
</component>