<div class="product-card">
	<div class="product-card__title">{{ product.name }}</div>
	<div class="product-card__header">
		<div class="product-card__favorite-btn">
			<component is="in-favorite" :text="true"></component>
		</div>
		<div class="product-card__compare-btn">
            <component is="to-compare" :text="true"></component>
		</div>
		<component is="product-card-article">{{ product.sku }}</component>
	</div>
	<div class="product-card__content">
		<div class="product-card__slider">
            <component is="product-card-header" 
                       :tooltips="{{ product.tooltips|json_encode()|e('html_attr') }}"></component>
			<component is="product-card-slider"
                       :product-images="{{ product.images|json_encode()|e('html_attr') }}" 
            ></component>
            <div class="product-card__slider_media">
                <div class="product-card__media-buttons">
                    <component is="media-button"
                               :svg="'play-btn'"
                               :action="'openVideo'"
                               :link="{{ product.videoUrl|json_encode()|e('html_attr') }}"
                    ></component>
                    <component is="media-button"
                               :svg="'around-photo'"
                               :action="'openVideo'"
                               :link="{{ product.threeDUrl|json_encode()|e('html_attr') }}"
                    ></component>
                </div>
            </div>
		</div>
		<div class="product-card__description">
			<div class="product-info">
				<ul class="product-info__list">
                    {% for feature in product.features.main|slice(0, 6) %}
                        <li class="product-info__item">
                            <div class="product-info__name">
                                <div class="product-info__name_dash">
                                    <span class="product-info__name_label">{{feature.title}}</span>
                                </div>
                            </div>
                            <div class="product-info__desc">{{feature.value}}</div>
                        </li>
                    {% endfor %}
				</ul>
				<component is="product-info-all"></component>
				<div class="product-info__brand">
					<a href="{{ product.brand.link }}" class="product-info__brand-logo">
						<img src="{{ product.brand.logo }}">
					</a>
					<a href="#" class="product-info__assurance">
                        <svg class="product-info__assurance-icon">
                            <use xlink:href="{{ templatePath }}images/sprite.svg#assurance__assurance-{{ product.guarantee }}"></use>
                        </svg>
					</a>
				</div>
			</div>
			<div class="product-order">
                {% if product.avalible %}
				    <div class="product-order__stock">В наличии</div>
                {% endif %}
				<component is="product-order-block" class="product-order__wrapper">
					<ul class="product-order__list">
                        {% for price in product.prices %}
                            <li class="product-order__item product-order__item--{% if price.base == 1 %}retail{% elseif price.base == 2 %}base{% elseif price.base == 0 %}discount-green{% elseif price.base == 3 %}total{% endif %}">
                                <p class="product-order__name" >
                                    {% if price.base == 1 %}
                                        Розничная цена
                                    {% elseif price.base == 2 %}
                                        Базовая цена
                                    {% elseif price.base == 0 %}
                                        Скидка
                                    {% elseif price.base == 3 %}
                                        Ваша цена
                                    {% endif %}
                                    {% if price.discount %}
                                        {#TODO починить цвет скодки#}
                                        {{ price.discount }}%
                                    {% endif %}
                                </p>
                                <div class="product-order__icon">
                                    <svg>
                                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__info"></use>
                                    </svg>
                                    {% if price.discount %}
                                        <div class="product-order__item-tooltip">{{ price.text }}</div>
                                    {% endif %}
                                </div>
                                <p class="product-order__price {% if price.base == 1 and user.personType == 1 %}product-order__price--throut{% endif %}">{{ price.price }} &#8381;</p>
                            </li>
                        {% endfor %}
					</ul>
					<component is="add-to-cart" 
                               :text="'В корзине'" 
                               :button-title="'Добавить в корзину'" 
                               :size="'big'"
                               :product-id="{{ product.id }}"
                               :max-amount="{{ product.stock }}"
                    ></component>
				</component>
			</div>
		</div>
	</div>
</div>