<template v-slot:code>
    <div class="card__code">{{ product.code }}</div>
</template>
<template v-slot:description>
    <a href="{{ product.link }}" class="card__name">
        {{ product.title }}
    </a>
</template>
<template v-slot:price>
    <div class="card__price-block">
        <div class="card__old-price">{{ product.oldPrice }} {{ 'text.currency'|trans }}</div>
        <div class="card__current-price">{{ product.newPrice }} {{ 'text.currency'|trans }}</div>
    </div>
</template>

