<div class="card__code">{{ product.code}}</div>
<a href="{{ product.link }}" class="card__name">
    {{ product.title }}
</a>
<div class="card__price-block">
    <div class="card__price-block_old-price">{{ product.oldPrice }} &#8381;</div>
    <div class="card__price-block_current-price">{{ product.newPrice }} &#8381;</div>
</div>