<component is="sticky-menu" :user="{{ user|json_encode()|e('html_attr') }}"></component>
<component is="country" 
           :countries="{{ countries|json_encode()|e('html_attr') }}"
></component>
<component is="catalogue" 
           :categories="{{ categories|json_encode()|e('html_attr') }}"
></component>
<component is="mobile-menu" 
           :countries="{{ countries|json_encode()|e('html_attr') }}"
></component>
<component is="modal">
    <template v-slot:listingcat>
        {% if filters is not empty %}
            <div class="listing__categories">
                <div class="listing__categories__title">{{ listingCategoryTitle }}</div>{#TODO оформить тайтл#}
                <component is="further-subcategories"
                           :categories="{{ listingCategories.subcategories|json_encode()|e('html_attr') }}"
                           :class-name="'listing'"
                >
                    <template v-slot:subcategory-listing-part>
                        {% for subsubcategory in listingCategories.subcategories|slice(0, 5) %}
                            <li>
                                <a href="#" class="listing__further-subcategory">{{ subsubcategory.title }}</a>
                            </li>
                        {% endfor %}
                    </template>
                    <template v-slot:subcategory-listing-all>
                        {% for subsubcategory in listingCategories.subcategories %}
                            <li>
                                <a href="#" class="listing__further-subcategory">{{ subsubcategory.title }}</a>
                            </li>
                        {% endfor %}
                    </template>
                </component>
            </div>
        {% else %}
            <div class="listing__subcategories">
                {% for subcategory in listingCategories.subcategories %}
                    <div class="listing__subcategory">
                        <a href="{{ subcategory.url }}" class="listing__subcategory-link">{{subcategory.title}}</a>
                        <component is="further-subcategories"
                                   :categories="{{ subcategory.subcategories|json_encode()|e('html_attr') }}"
                                   :class-name="'listing'"
                        >
                            <template v-slot:subcategory-listing-part>
                                {% for subsubcategory in subcategory.subcategories|slice(0, 5) %}
                                    <li>
                                        <a href="#" class="listing__further-subcategory">{{ subsubcategory.title }}</a>
                                    </li>
                                {% endfor %}
                            </template>
                            <template v-slot:subcategory-listing-all>
                                {% for subsubcategory in subcategory.subcategories %}
                                    <li>
                                        <a href="#" class="listing__further-subcategory">{{ subsubcategory.title }}</a>
                                    </li>
                                {% endfor %}
                            </template>
                        </component>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </template>
</component>
<component is="sticky-mobile-button"></component>
{% if showStickyCard %}
<component is="sticky-card" 
           :product="{{ product|json_encode()|e('html_attr') }}"
></component>
{% endif %}



<footer class="footer">
    <div class="container">

        <div class="footer__layout footer__layout_desktop">
            {# <svg viewBox="0 0 650 150">
                <use xlink:href="{{ templatePath }}images/sprite.svg#logo"></use>
            </svg> #}
            <svg viewBox="0 0 148 48">
                <use xlink:href="{{ templatePath }}images/sprite.svg#wt"></use>
            </svg>
            <div class="footer__company footer__company_desktop">&#169; 2020 ООО «МИР ИНСТРУМЕНТА»</div>
            <a href="#" class="footer__agreement footer__agreement_desktop">
                <span>Пользовательское соглашение</span>
            </a>
        </div>
        <div class="footer__layout footer__layout_mobile">
            <svg viewBox="0 0 137 32">
                <use xlink:href="{{ templatePath }}images/sprite.svg#tw"></use>
            </svg>
            <div class="footer__company footer__company_desktop">&#169; 2020 ООО «МИР ИНСТРУМЕНТА»</div>
            <a href="#" class="footer__agreement footer__agreement_desktop">Пользовательское соглашение</a>
        </div>

        <nav class="footer__menu">
            <ul class="footer__menu-column footer__menu-column_desktop">
                <li class="footer__menu-title"><a href="#">О&nbsp;компании</a></li>
                <li class="footer__menu-item"><a href="#">Филиалы</a></li>
                <li class="footer__menu-item"><a href="#">Бренды</a></li>
                <li class="footer__menu-item"><a href="#">Гарантия</a></li>
                <li class="footer__menu-item"><a href="#">Новости</a></li>
            </ul>
            <ul class="footer__menu-column footer__menu-column_desktop">
                <li class="footer__menu-title"><a href="#">Помощь</a></li>
                <li class="footer__menu-item"><a href="#">Акции</a></li>
                <li class="footer__menu-item"><a href="#">Оптовые&nbsp;скидки</a></li>
                <li class="footer__menu-item"><a href="#">Каталог&nbsp;товаров</a></li>
                <li class="footer__menu-item"><a href="#">Где купить</a></li>
            </ul>
            <ul class="footer__menu-column footer__menu-column_desktop">
                <li class="footer__menu-title"><a href="#">Покупателю</a></li>
                <li class="footer__menu-item"><a href="#">Сервис&nbsp;и&nbsp;гарантия</a></li>
                <li class="footer__menu-item"><a href="#">Обратная&nbsp;связь</a></li>
                <li class="footer__menu-item">
                    <a href="#">
                        <div>Политика&nbsp;обработки</div>
                        <div>персональных&nbsp;данных</div>
                    </a>
                </li>
            </ul>
            <div class="footer__menu-column footer__menu-column_mobile">
                <ul>
                    <li class="footer__menu-title"><a href="#">Помощь</a></li>
                    <li class="footer__menu-item"><a href="#">Каталог&nbsp;товаров</a></li>
                    <li class="footer__menu-item"><a href="#">Акции</a></li>
                    <li class="footer__menu-item"><a href="#">Бренды</a></li>
                    <li class="footer__menu-item"><a href="#">Гарантия</a></li>
                    <li class="footer__menu-item"><a href="#">Где купить</a></li>
                    <li class="footer__menu-item"><a href="#">Оптовые&nbsp;скидки</a></li>
                </ul>
                <ul>
                    <li class="footer__menu-title"></li>
                    <li class="footer__menu-item">
                        <a href="#">
                            <div>Политика&nbsp;обработки</div>
                            <div>персональных&nbsp;данных</div>
                        </a>
                    </li>
                    <li class="footer__menu-item"><a href="#">Новости</a></li>
                    <li class="footer__menu-item"><a href="#">Филиалы</a></li>
                    <li class="footer__menu-item"><a href="#">Обратная&nbsp;связь</a></li>
                    <li class="footer__menu-item"><a href="#">Сервис&nbsp;и&nbsp;гарантия</a></li>
                </ul>
            </div>
            <ul class="footer__menu-column">
                <li class="footer__menu-title"><a href="#">Контакты</a></li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__phone"></use>
                    </svg>
                    8&nbsp;(800)&nbsp;200-49-49
                </li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon" viewBox="0 0 12 12">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__clock"></use>
                    </svg>
                    пн-пт&nbsp;2-18&nbsp;(мск)
                </li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__email"></use>
                    </svg>
                    почта@mail.ru
                </li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__pin"></use>
                    </svg>
                    г.Москва,&nbsp;ул.&nbsp;Трехгорный&nbsp;Вал&nbsp;3
                </li>
            </ul>
        </nav>

        <a href="#" class="footer__agreement footer__agreement_mobile">
            <span>Пользовательское соглашение</span>
        </a>
        <div class="footer__company footer__company_mobile">&#169; 2020 ООО «МИР ИНСТРУМЕНТА»</div>

    </div>
</footer>