<component is="sticky-menu" :user="{{ user|json_encode()|e('html_attr') }}"></component>
<component is="country" 
           :countries="{{ countries|json_encode()|e('html_attr') }}"
></component>
<component is="catalogue" 
           :categories="{{ categories|json_encode()|e('html_attr') }}"
></component>
<component is="mobile-menu" 
           :countries="{{ countries|json_encode()|e('html_attr') }}"
></component>
<component is="modal">
    <template v-slot:listingcat>
        {% if filters.filters is not empty %}
            <div class="listing__subcategories listing__subcategories--filter">
                {% for subcategory in listingCategories.subcategories|slice(0, 1) %}
                    {% include '../listing/listing-subcategories.twig' with {'subcategory': subcategory, 'main': true} %}
                {% endfor %}
                <component is="all-categories">
                    {% for subcategory in listingCategories.subcategories|slice(1) %}
                        {% include '../listing/listing-subcategories.twig' with {'subcategory': subcategory, 'main': false} %}
                    {% endfor %}
                </component>
            </div>
        {% endif %}
    </template>
</component>
<component is="sticky-mobile-button"></component>
{% if showStickyCard %}
<component is="sticky-card" 
           :product="{{ product|json_encode()|e('html_attr') }}"
></component>
{% endif %}



<footer class="footer">
    <div class="container">

        <div class="footer__layout footer__layout_desktop">
            {# <svg viewBox="0 0 650 150">
                <use xlink:href="{{ templatePath }}images/sprite.svg#logo"></use>
            </svg> #}
            <svg viewBox="0 0 148 48">
                <use xlink:href="{{ templatePath }}images/sprite.svg#wt"></use>
            </svg>
            <div class="footer__company footer__company_desktop">{{ 'footer.company'|trans }}</div>
            <a href="#" class="footer__agreement footer__agreement_desktop">
                <span>{{ 'footer.user_agreement'|trans }}</span>
            </a>
        </div>
        <div class="footer__layout footer__layout_mobile">
            <svg viewBox="0 0 137 32">
                <use xlink:href="{{ templatePath }}images/sprite.svg#tw"></use>
            </svg>
            <div class="footer__company footer__company_desktop">{{ 'footer.company'|trans }}</div>
            <a href="#" class="footer__agreement footer__agreement_desktop">{{ 'footer.user_agreement'|trans }}</a>
        </div>

        <nav class="footer__menu">
            <ul class="footer__menu-column footer__menu-column_desktop">
                <li class="footer__menu-title"><a href="#">{{ 'footer.navbar.title.about'|trans }}</a></li>
                <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.branches'|trans }}</a></li>
                <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.brands'|trans }}</a></li>
                <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.guarantee'|trans }}</a></li>
                <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.news'|trans }}</a></li>
            </ul>
            <ul class="footer__menu-column footer__menu-column_desktop">
                <li class="footer__menu-title"><a href="#">{{ 'footer.navbar.title.help'|trans }}</a></li>
                <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.discounts'|trans }}</a></li>
                <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.volume_discounts'|trans }}</a></li>
                <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.catalog'|trans }}</a></li>
                <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.points_of_purchases'|trans }}</a></li>
            </ul>
            <ul class="footer__menu-column footer__menu-column_desktop">
                <li class="footer__menu-title"><a href="#">{{ 'footer.navbar.title.to_costumer'|trans }}</a></li>
                <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.service_warranty'|trans }}</a></li>
                <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.feedback'|trans }}</a></li>
                <li class="footer__menu-item">
                    <a href="#">{{ 'footer.navbar.policy'|trans }}</a>
                </li>
            </ul>
            <div class="footer__menu-column footer__menu-column_mobile">
                <ul>
                    <li class="footer__menu-title"><a href="#">{{ 'footer.navbar.title.help'|trans }}</a></li>
                    <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.catalog'|trans }}</a></li>
                    <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.discounts'|trans }}</a></li>
                    <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.brands'|trans }}</a></li>
                    <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.guarantee'|trans }}</a></li>
                    <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.points_of_purchases'|trans }}</a></li>
                    <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.volume_discounts'|trans }}</a></li>
                </ul>
                <ul>
                    <li class="footer__menu-title"></li>
                    <li class="footer__menu-item">
                        <a href="#">{{ 'footer.navbar.policy'|trans }}</a>
                    </li>
                    <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.news'|trans }}</a></li>
                    <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.branches'|trans }}</a></li>
                    <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.feedback'|trans }}</a></li>
                    <li class="footer__menu-item"><a href="#">{{ 'footer.navbar.service_warranty'|trans }}</a></li>
                </ul>
            </div>
            <ul class="footer__menu-column">
                <li class="footer__menu-title"><a href="#">{{ 'footer.navbar.title.contacts'|trans }}</a></li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__phone"></use>
                    </svg>
                    {{ 'footer.navbar.tel'|trans }}
                </li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon" viewBox="0 0 12 12">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__clock"></use>
                    </svg>
                    {{ 'footer.navbar.schedule'|trans }}
                </li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__email"></use>
                    </svg>
                    {{ 'footer.navbar.email'|trans }}
                </li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__pin"></use>
                    </svg>
                    {{ 'footer.navbar.address'|trans }}
                </li>
            </ul>
        </nav>

        <a href="#" class="footer__agreement footer__agreement_mobile">
            <span>{{ 'footer.user_agreement'|trans }}</span>
        </a>
        <div class="footer__company footer__company_mobile">{{ 'footer.company'|trans }}</div>

    </div>
</footer>