<component is="sticky-menu" :user="{{ user|json_encode()|e('html_attr') }}"></component>
<component is="country" 
           :countries="{{ countries|json_encode()|e('html_attr') }}"
           :active-country="{{ activeCountry|json_encode()|e('html_attr') }}"
></component>
<component is="catalogue" 
           :categories="{{ categories|json_encode()|e('html_attr') }}"
></component>
<component is="mobile-menu" 
           :countries="{{ countries|json_encode()|e('html_attr') }}"
           :active-country="{{ activeCountry|json_encode()|e('html_attr') }}"
           :header-links="{{ headerLinks|json_encode()|e('html_attr') }}"
></component>
<component is="modal"
           :phone-mask="{{ phone_mask|json_encode|e('html_attr') }}"
>
    <template v-slot:listingcat>
        <div class="listing__subcategories">
            {% if brandCatalog or not treeCategories.subcategories %}
                {% include '../listing/listing-subcategories.twig' with {'subcategory': listCategory, 'main': true, 'brandCatalog': brandCatalog, 'title': sub_title} %}
            {% else %}
                {% for subcategory in treeCategories.subcategories|slice(0, 1) %}
                    {% include '../listing/listing-subcategories.twig' with {'subcategory': subcategory, 'main': true} %}
                {% endfor %}
                <component is="all-categories">
                    {% for subcategory in treeCategories.subcategories|slice(1) %}
                        {% include '../listing/listing-subcategories.twig' with {'subcategory': subcategory, 'main': false} %}
                    {% endfor %}
                </component>
            {% endif %}
        </div>
    </template>
    {% if showTree == false %}
    <template v-slot:favoritecat>
        <component is="favorites-listing-category" :favorite-categories="{{ listCategory|json_encode|e('html_attr') }}"></component>
    </template>
    {% elseif showTree == true %}
    <template v-slot:favoritecat>
        <component is="favorites-listing-category" :favorite-categories="{{ treeCategories|json_encode|e('html_attr') }}"></component>
    </template>
    {% endif %}
</component>
<component is="sticky-mobile-button"></component>
{% if showStickyCard %}
<component is="sticky-card" 
           :product="{{ product|json_encode()|e('html_attr') }}"
></component>
{% endif %}



<footer class="footer">
    <div class="container">

        <div class="footer__layout footer__layout--desktop">
            {# <svg viewBox="0 0 650 150">
                <use xlink:href="{{ templatePath }}images/sprite.svg#logo"></use>
            </svg> #}
            <svg viewBox="0 0 625 148">
                <use xlink:href="{{ templatePath }}images/sprite.svg#wt"></use>
            </svg>
            <div class="footer__company footer__company--desktop">&#169; {{ 'footer.company'|trans }}</div>
            <a href="{{ footerLinks.agreement.url }}" 
               class="footer__agreement footer__agreement--desktop"
            >
                <span>{{ footerLinks.agreement.title }}</span>
            </a>
        </div>
        <div class="footer__layout footer__layout--mobile">
            <svg viewBox="0 0 137 32">
                <use xlink:href="{{ templatePath }}images/sprite.svg#tw"></use>
            </svg>
            <div class="footer__company footer__company--desktop">&#169; {{ 'footer.company'|trans }}</div>
            <a href="{{ footerLinks.agreement.url }}"
               class="footer__agreement footer__agreement--desktop"
            >{{ footerLinks.agreement.title }}</a>
        </div>

        <nav class="footer__menu">
            <ul class="footer__menu-column footer__menu-column--desktop">
                <li class="footer__menu-title"><div>{{ footerLinks.about.title }}</div></li>
                {% for link in footerLinks.about.links %}
                    <li class="footer__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
            <ul class="footer__menu-column footer__menu-column--desktop">
                <li class="footer__menu-title"><div>{{ footerLinks.help.title }}</div></li>
                {% for link in footerLinks.help.links %}
                    <li class="footer__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
            <ul class="footer__menu-column footer__menu-column--desktop">
                <li class="footer__menu-title"><div>{{ footerLinks.client.title }}</div></li>
                {% for link in footerLinks.client.links %}
                    <li class="footer__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
            <div class="footer__menu-column footer__menu-column--mobile">
                <div class="footer__menu-title">
                    <div>{{ footerLinks.help.title }}</div>
                </div>
                <ul>
                    {% for link in footerLinks.about.links %}
                        <li class="footer__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                    {% for link in footerLinks.help.links %}
                        <li class="footer__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                    {% for link in footerLinks.client.links %}
                        <li class="footer__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="footer__menu-column">
                <li class="footer__menu-title">
                    <div>{{ footerLinks.contacts.title }}</div>
                </li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__phone"></use>
                    </svg>
                    {{ 'nav.tel'|trans }}
                </li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon" viewBox="0 0 12 12">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__clock"></use>
                    </svg>
                    {{ 'nav.schedule'|trans }}
                </li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__email"></use>
                    </svg>
                    {{ 'nav.email'|trans }}
                </li>
                <li class="footer__menu-item footer__menu-item_img">
                    <svg class="footer__menu-icon">
                        <use xlink:href="{{ templatePath }}images/sprite.svg#icons__pin"></use>
                    </svg>
                    {{ 'nav.address'|trans }}
                </li>
            </ul>
        </nav>

        <a href="{{ footerLinks.agreement.url }}" class="footer__agreement footer__agreement--mobile">
            <span>{{ footerLinks.agreement.title }}</span>
        </a>
        <div class="footer__company footer__company--mobile">&#169; {{ 'footer.company'|trans }}</div>

    </div>
</footer>