<div class="pagination">
    <a  href="{{ pagination.url_previous }}" class="pagination__arrow pagination__arrow-prev">
        <svg>
            <use :xlink:href="templatePath + 'images/sprite.svg#arrows__arrow-left'"></use>
        </svg>
    </a>
    <ul class="pagination__list">
        {% for link in pagination.urls %}
            <li class="pagination__item{% if pagination.current == link.title %} pagination__item_current{% endif %}">
                <a href="{{ link.url }}" class="pagination__link">{{ link.title }}</a>
            </li>
        {% endfor %}
        <li class="pagination__item">
            <div class="pagination__link">...</div>
        </li>
        <li class="pagination__item{% if pagination.current == pagination.total %} pagination__item_current{% endif %}">
            <a href="{{ pagination.url_last }}" class="pagination__link">{{ pagination.total }}</a>
        </li>
    </ul>
    <a  href="{{ pagination.url_next }}" class="pagination__arrow pagination__arrow_next">
        <svg>
            <use :xlink:href="templatePath + 'images/sprite.svg#arrows__arrow-right'"></use>
        </svg>
    </a>
</div>