{%  set category = [] %}
{%  for st in categories %}
        {% set category = category | merge([st]) %}
{% endfor %}

<div class="listing">
    <div class="listing__header">
        <h1 class="listing__title">Автомобильный инструмент</h1>
        <div class="items-cont">12 210 товаров</div>
    </div>
    <div class="listing__shields">
        {% for shield in shields %}
            <div class="listing__shield">
                {{ shield }}
            </div>
        {% endfor %}
    </div>
    <div class="listing__content">
        <div class="listing__sidebar">
            <component is="catalogue-subcategories"
                :categories="{{ category[0].subcategories|json_encode()|e('html_attr') }}"
                :class-name="{{'listing'|json_encode()|e('html_attr')}}"
            ></component>
            <div class="listing__sidebar_filters">
                {#TODO отобразить блок категорий, в котором находимся#}
                {% include './filter.twig' with {'filters': filters} %}
            </div>
        </div>
        <div class="listing__products">

            <div class="listing__actions listing__actions_desktop">
                <component is="filter-button" :filters="{{ filters|json_encode|e('html_attr') }}"></component>
                <component is="select-list"
                           class="listing__select"
                           :points="{{ sort_types|json_encode|e('html_attr') }}"
                           :selectopen-select="{{ sort_type|json_encode|e('html_attr') }}"
                           :viewbox="'0 0 16 7'"
                ></component>
                <component is="displaying-cards"></component>
            </div>
            <component is="sticky-listing-actions"
                :filters="{{ filters|json_encode|e('html_attr') }}"
                :points="{{ sort_types|json_encode|e('html_attr') }}"
                :selectopen-select="{{ sort_type|json_encode|e('html_attr') }}"
            ></component>

            <div class="listing__grid">
                {% for product in products %}
                    <div class="listing__card">
                        <card
                            :change-icon="false"
                            :card-grid="'grid'"
                            :product="{{ product|json_encode()|e('html_attr') }}"
                        >
                            {% include '../partials/card.twig' with {'product': product} %}
                        </card>
                    </div>
                {% endfor %}
            </div>
            <div class="listing__grid listing__grid_horiz">
                {% for product in products %}
                    <div class="listing__card">
                        <card
                            :change-icon="false"
                            :card-grid="'grid'"
                            :product="{{ product|json_encode()|e('html_attr') }}"
                        >
                            {% include '../partials/card.twig' with {'product': product} %}
                        </card>
                    </div>
                {% endfor %}
            </div>
            <div class="listing__pagination">
                {% include './listing-pagination/listing-pagination-btn.twig' %}
                {% include './listing-pagination/listing-pagination.twig' %}
            </div>
        </div>
    </div>
</div>