<div class="listing">
    <div class="listing__header">
        <h1 class="listing__title">Автомобильный инструмент</h1>
        <div class="items-cont">12 210 товаров</div>
    </div>
    <div class="listing__shields">
        {% for shield in shields %}
            <div class="listing__shield">
                {{ shield }}
            </div>
        {% endfor %}
    </div>
    <div class="listing__content">
        <div class="listing__sidebar">
            {#Темплейт категорий#}
            {#Темплейт фильтров#}
        </div>
        <div class="listing__products">
            <div class="listing__actions">
                <component is="select-list"
                           :points="{{ sort_types|json_encode|e('html_attr') }}"
                           :selectopen-select="{{ sort_type|json_encode|e('html_attr') }}"
                ></component>
                {#компонент смены сетки с карточками#}
            </div>
            {#добавить стики блок для мобилки#}
            <div class="listing__grid">
                {% for product in products %}
                    <div class="listing__card">
                        <card
                            :change-icon="false"
                            :card-grid="'grid'"
                            :product="{{ product|json_encode()|e('html_attr') }}"
                        >
                            {% include '../partials/card.twig' with {'product': product} %}
                        </card>
                    </div>
                {% endfor %}
            </div>
            <div class="listing__grid listing__grid_horiz">
                {% for product in products %}
                    <div class="listing__card">
                        <card
                            :change-icon="false"
                            :card-grid="'grid'"
                            :product="{{ product|json_encode()|e('html_attr') }}"
                        >
                            {% include '../partials/card.twig' with {'product': product} %}
                        </card>
                    </div>
                {% endfor %}
            </div>
            <div class="listing__products_pagination">
                {% include './listing-pagination/listing-pagination-btn.twig' %}
                {% include './listing-pagination/listing-pagination.twig' %}
            </div>
        </div>
    </div>
</div>