<div class="listing">
    <div class="listing__header">
        <h1 class="listing__title">{{ listingCategoryTitle }}</h1>
        <div class="items-cont">12 210 товаров</div>
    </div>
    <div class="listing__shields">
        {% for shield in shields %}
            <div class="listing__shield">
                {{ shield }}
            </div>
        {% endfor %}
    </div>
    <div class="listing__content">
        <div class="listing__sidebar">
            {% if filters is not empty %}
                <div class="listing__categories">
                    <div class="listing__categories__title">{{ listingCategoryTitle }}</div>{#TODO оформить тайтл#}
                    <component is="further-subcategories"
                               :categories="{{ listingCategories.subcategories|json_encode()|e('html_attr') }}"
                               :class-name="'listing'"
                    >
                        <template v-slot:subcategory-listing-part>
                            {% for subsubcategory in listingCategories.subcategories|slice(0, 5) %}
                                <li>
                                    <a href="#" class="listing__further-subcategory">{{ subsubcategory.title }}</a>
                                </li>
                            {% endfor %}
                        </template>
                        <template v-slot:subcategory-listing-all>
                            {% for subsubcategory in listingCategories.subcategories %}
                                <li>
                                    <a href="#" class="listing__further-subcategory">{{ subsubcategory.title }}</a>
                                </li>
                            {% endfor %}
                        </template>
                    </component>
                </div>
                <div class="listing__sidebar_filters">  
                    {% include './filter.twig' with {'filters': filters} %}
                </div>
            {% else %}
                <div class="listing__subcategories">
                    {% for subcategory in listingCategories.subcategories %}
                        <div class="listing__subcategory">
                            <a href="{{ subcategory.url }}" class="listing__subcategory-link">{{subcategory.title}}</a>
                            <component is="further-subcategories"
                                       :categories="{{ subcategory.subcategories|json_encode()|e('html_attr') }}"
                                       :class-name="'listing'"
                            >
                                <template v-slot:subcategory-listing-part>
                                    {% for subsubcategory in subcategory.subcategories|slice(0, 5) %}
                                        <li>
                                            <a href="#" class="listing__further-subcategory">{{ subsubcategory.title }}</a>
                                        </li>
                                    {% endfor %}
                                </template>
                                <template v-slot:subcategory-listing-all>
                                    {% for subsubcategory in subcategory.subcategories %}
                                        <li>
                                            <a href="#" class="listing__further-subcategory">{{ subsubcategory.title }}</a>
                                        </li>
                                    {% endfor %}
                                </template>
                            </component>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="listing__products">

            <component is="sticky-listing-actions"
                       :filters="{{ filters|json_encode|e('html_attr') }}"
                       :points="{{ sort_types|json_encode|e('html_attr') }}"
                       :selectopen-select="{{ sort_type|json_encode|e('html_attr') }}"
                       :view="{{ view_type|json_encode|e('html_attr') }}"
            ></component>
            <component is="listing-content">
                {% for product in products %}
                    <div class="listing__card">
                        <card
                            :change-icon="false"
                            :card-grid="'grid'"
                            :product="{{ product|json_encode()|e('html_attr') }}"
                        >
                            {% include '../partials/card.twig' with {'product': product} %}
                        </card>
                    </div>
                {% endfor %}
            </component>
            {% if pagination is not empty %}
                <div class="listing__pagination">
                    {% include './listing-pagination/listing-pagination-btn.twig' %}
                    {% include './listing-pagination/listing-pagination.twig' with {'pagination': pagination} %}
                </div>
            {% endif %}
        </div>
    </div>
</div>