<section class="listing">
        {# <div class="listing__header">
            {% if titleFlag == true %}
                
                    <h2 class="listing__title">{{ 'listing.filters.title'|trans }}</h2>
            {% elseif searchAnswer %}
                <h2 class="listing__title">{{ 'search-response.text-success'|trans }} "{{ searchAnswer }}"</h2>
                <component is="listing-items-quantity"
                           :items-quantity="{{ filters.match|json_encode()|e('html_attr') }}"
                ></component>
            {% else %}
                <h2 class="listing__title {% if brandCatalog %}listing__title--mobile{% endif %}">
                    {{listingCategoryTitle}}
                </h2>
                <component is="listing-items-quantity"
                           :items-quantity="{{ filters.match|json_encode()|e('html_attr') }}"
                ></component>
            {% endif %}
        </div> #}
        {% if titleFlag == true %}
            <div class="listing__header">
                {% if searchAnswer %}
                    <h2 class="listing__title">{{ 'search-response.text-success'|trans }} "{{ searchAnswer }}"</h2>
                    <component is="listing-items-quantity"
                        :items-quantity="{{ filters.match|json_encode()|e('html_attr') }}"
                    ></component>
                {% elseif listCategoryView == 'select' or listCategoryView == 'filter' or listCategoryView == 'list' %}
                    <h2 class="listing__title">{{ listingCategoryTitle }}</h2>
                    <component is="listing-items-quantity"
                        :items-quantity="{{ filters.match|json_encode()|e('html_attr') }}"
                    ></component>
                {% elseif listCategoryView == 'search' and searchAnswer is empty%}
                    <h2 class="listing__title">{{ 'listing.filters.title'|trans }}</h2>
                {% else %}
                    <h2 class="listing__title">{{ 'listing.category.title'|trans }}</h2>
                {% endif %}
            </div>
        {% endif %}
    {% if shields %}
        <div class="listing__shields {% if brandCatalog %}listing__shields--mobile{% endif %}">
            {% for shield in shields %}
                <a href='{{shield.url}}' class="listing__shield">
                    {{ shield.title }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
    <div class="listing__content">
        <div class="listing__sidebar">
            {% if showTree == false %}
                {% if listCategoryView == 'select' or listCategoryView == 'filter' or listCategoryView == 'list' %}
                    <div class="listing__subcategories {% if brandCatalog %}listing__subcategories--brand{% endif %}">
                        <div class="listing__subcategory-link">{{ sub_title}}</div>
                            {% if listCategory is not empty%}
                                <component is="filter-category" {% if listCategory is not empty %} :show-button="{{ listCategory.length > 5 }} {% endif %}">
                                    <template v-slot:subcategory-listing-part>
                                        {% for subsubcategory in listCategory|slice(0, 5) %}
                                            <li>
                                                <a href="{{ subsubcategory.url }}" 
                                                    class="listing__further-subcategory"
                                                >
                                                    {{ subsubcategory.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </template>
                                    <template v-slot:subcategory-listing-all>
                                        {% for subsubcategory in listCategory %}
                                            <li>
                                                {% if subsubcategory.checked == true %}
                                                    <svg viewBox="-2 -1 12 12" class="listing__further-sc-icon">
                                                        <use :xlink:href="templatePath + 'images/sprite.svg#check'"></use>
                                                    </svg>
                                                {% endif %}
                                                <a href="{{ subsubcategory.url }}" 
                                                class="listing__further-subcategory"
                                                >{{ subsubcategory.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </template>
                                </component>
                            {% endif %}
                    </div>
                {% elseif listCategoryView == 'search' %}
                    <component is="favorites-listing-category" :favorite-categories="{{listCategory|json_encode()|e('html_attr')}}"></component>
                {% endif %}
            {% endif %}
            {%  if showTree == true  %}
                <div class="listing__subcategories">
                    {% for subcategory in treeCategories.subcategories %}
                        <div class="listing__subcategory">
                            <a href="{{ subcategory.url }}" class="listing__subcategory-link {% if brandCatalog %}listing__subcategory-link--desktop{% endif %}">
                                {{subcategory.title}}
                            </a>
                            <component is="further-subcategories"
                                       :categories="{{ subcategory.subcategories|json_encode()|e('html_attr') }}"
                                       :class-name="'listing'"
                                       {% if brandCatalog %}class="listing__further-subcategories--desktop"{% endif %}
                            >
                                <template v-slot:subcategory-listing-part>
                                    {% for subsubcategory in subcategory.subcategories|slice(0, 5) %}
                                        <li>
                                            <a href="{{ subsubcategory.url }}" 
                                               class="listing__further-subcategory"
                                            >{{ subsubcategory.title }}</a>
                                        </li>
                                    {% endfor %}
                                </template>
                                <template v-slot:subcategory-listing-all>
                                    {% for subsubcategory in subcategory.subcategories %}
                                        <li>
                                            <a href="{{ subsubcategory.url }}" 
                                               class="listing__further-subcategory"
                                            >{{ subsubcategory.title }}</a>
                                        </li>
                                    {% endfor %}
                                </template>
                            </component>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="listing__sidebar_filters">  
                {% include './filter.twig' with {'filters': filters} %}
            </div>
        </div>
        <div class="listing__products">

            <component is="sticky-listing-actions"
                       :filters="{{ filters|json_encode|e('html_attr') }}"
                       :points="{{ sort_types|json_encode|e('html_attr') }}"
                       :selectopen-select="{{ sort_type|json_encode|e('html_attr') }}"
                       :view="{{ view_type|json_encode|e('html_attr') }}"
            ></component>
            <component is="listing-content" 
                       :pagination="{{ pagination|json_encode|e('html_attr') }}" 
                       :hash="{{ filters.hash|json_encode|e('html_attr') }}"
            >
                {% for product in products %}
                    <div class="listing__card">
                        <card
                            :change-icon="false"
                            :card-grid="'grid'"
                            :product="{{ product|json_encode()|e('html_attr') }}"
                        >
                            {% include '../partials/card.twig' with {'product': product} %}
                        </card>
                    </div>
                {% endfor %}
            </component>
        </div>
    </div>
</section>