<div class="container">
    <h2 class="checkout__title">{{ 'checkout.title.success'|trans }}</h2>
    <div class="checkout-success">
        <div class="checkout-success__text">{{ 'checkout.text.success_new_address'|trans }}</div>
        <div class="checkout-success__text">{{ 'checkout.text.success'|trans }}</div>
        <div class="checkout-success__number">
            <span class="checkout-success__number-text">{{ 'checkout.title.order_number'|trans }}:</span>
            <span>123456789009876</span><!--TODO из базы-->
        </div>
        <div class="checkout-success__date">
            <span class="checkout-success__date-title">{{ 'checkout.title.order_date'|trans }}:</span>
            <span>12.10.2020</span><!--TODO из базы-->
        </div>
        <div class="checkout-success__btn">
            <a href="#" class="checkout-success__link">
                {{ 'button.go_catalog'|trans }}
            </a>    
        </div>
    </div>
</div>
