<div class="container">
    <h2 class="checkout__title">{{ 'checkout.title.success'|trans }}</h2>
    <div class="checkout-success">
        <div class="checkout-success__text">{{ order.text }}</div>
        <div class="checkout-success__number">
            <span class="checkout-success__number-text">{{ 'checkout.title.order_number'|trans }}:</span>
            <a class="checkout-success__number-link">{{ order.number }}</a>
        </div>
        <div class="checkout-success__date">
            <span class="checkout-success__date-title">{{ 'checkout.title.order_date'|trans }}:</span>
            <span>{{ order.date }}</span>
        </div>
        <div class="checkout-success__btn">
            <a href="#" class="checkout-success__link">
                {{ 'button.go_catalog'|trans }}
            </a>    
        </div>
    </div>
</div>
