<section class="errors">
	<div class="errors__img">
       {% if errorType == '404' %}
            <img src="{{templatePath}}/demo_images/errors/404.png" alt="404">
        {% endif %}
        {% if errorType == '500' %}
            <img src="{{templatePath}}/demo_images/errors/500.png" alt="500">
        {% endif %}
        {% if errorType == '403' %}
            <img src="{{templatePath}}/demo_images/errors/403.png" alt="403">
        {% endif %}
	</div>
	<div class="errors__main">
		<h2 class="errors__title">
            {% if errorType == '404' %}
                {{ 'errors.404_title'|trans }}
            {% endif %}
            {% if errorType == '403' %}
                {{ 'errors.403_title'|trans }}
            {% endif %}
            {% if errorType == '500' %}
                {{ 'errors.500_title'|trans }}
            {% endif %}
        </h2>
        <div class="errors__desc">
            <div class="errors__text">
                {% if errorType == '404' %}
                    {{ 'errors.404_text'|trans }}
                {% endif %}
                {% if errorType == '403' %}
                    {{ 'errors.403_text'|trans }}
                {% endif %}
                {% if errorType == '500' %}
                    {{ 'errors.500_text'|trans }}
                {% endif %}
            </div>
            {% if errorType == '500' %}
                <div class="errors__text-promo">{{ 'errors.500_sale'|trans }}</div>
            {% endif %}
        </div>
        {% if errorType == '404' or errorType == '403' %}
            <div class="errors__btn">
                <a class="errors__btn-link" href="/">{{ 'errors.404_btn'|trans }}</a>
            </div>
        {% endif %}
        {% if errorType == '500' %}
            <component is="errors-promo"></component>
        {% endif %}
	</div>
</section>
