<div class="errors">
	<div class="errors__img">
        <img src="./demo_images/errors/404.png">
	</div>
	<div class="errors__main">
		<h2 class="errors__title">{{ 'errors.404_title'|trans }}</h2>
        <div class="errors__desc">
            <div class="errors__text">{{ 'errors.404_text'|trans }}</div>
        </div>
		<div class="errors__btn">{{ 'errors.404_btn'|trans }}</div>
	</div>
</div>
<div class="errors">
	<div class="errors__img">
        <img src="./demo_images/errors/403.png">
	</div>
	<div class="errors__main">
		<h2 class="errors__title">{{ 'errors.403_title'|trans }}</h2>
        <div class="errors__desc">
            <div class="errors__text">{{ 'errors.403_text'|trans }}</div>
        </div>
		<div class="errors__btn">{{ 'errors.404_btn'|trans }}</div>
	</div>
</div>
<div class="errors">
	<div class="errors__img">
        <img src="./demo_images/errors/500.png">
	</div>
	<div class="errors__main">
		<h2 class="errors__title">{{ 'errors.500_title'|trans }}</h2>
        <div class="errors__desc">
            <div class="errors__text">{{ 'errors.500_text'|trans }}</div>
		    <div class="errors__text-promo">{{ 'errors.500_sale'|trans }}</div>
        </div>
		<component is="errors-promo"></component>
	</div>
</div>
