<div class="brand">
	<div class="brand__head">
	    <h2 class="brand__title">{{ 'page-brand.title'|trans }} «{{brand.title}}»</h2>
		<div class="brand__head-wrap">
			<div class="brand__head-logo">
				<img src="{{brand.img}}" alt="{{brand.title}}">
			</div>
			<h3 class="brand__head-title">{{brand.category}}</h3>
		</div>
	</div>
	<div class="brand__main">
		<h3 class="brand__main-title"> {{ 'text.description'|trans }}</h3>
		{{brand.description}}
	</div>
</div>
