<section class="dropshipping">
    <div class="container">
        <h2 class="dropshipping__title">{{ 'dropshipping.title'|trans }}</h2>
        <p class="dropshipping__text">{{ 'dropshipping.text'|trans }}</p>
        <div class="dropshipping__snippets">
            <div class="dropshipping__snippet">
                <svg viewBox="0 0 56 56">
                    <use xlink:href="{{ templatePath }}images/sprite.svg#dropshipping__shop"></use>
                </svg>
                <div class="dropshipping__snippet-description">
                    <div class="dropshipping__snippet-title">{{ 'dropshipping.order.title'|trans }}</div>
                    <div class="dropshipping__snippet-text">{{ 'dropshipping.order.text'|trans }}</div>
                </div>
            </div>
            <div class="dropshipping__array">
                <svg class="dropshipping__array-right">
                    <use xlink:href="{{ templatePath }}images/sprite.svg#arrows__arrow-long-right"></use>
                </svg>
                <svg class="dropshipping__array-bottom">
                    <use xlink:href="{{ templatePath }}images/sprite.svg#arrows__arrow-long-bottom"></use>
                </svg>
            </div>
            <div class="dropshipping__snippet">
                <svg viewBox="0 0 56 56">
                    <use xlink:href="{{ templatePath }}images/sprite.svg#dropshipping__box"></use>
                </svg>
                <div class="dropshipping__snippet-description">
                    <div class="dropshipping__snippet-title">{{ 'dropshipping.redirection.title'|trans }}</div>
                    <div class="dropshipping__snippet-text">{{ 'dropshipping.redirection.text'|trans }}</div>
                </div>
            </div>
            <div class="dropshipping__array">
                <svg class="dropshipping__array-right">
                    <use xlink:href="{{ templatePath }}images/sprite.svg#arrows__arrow-long-right"></use>
                </svg>
                <svg class="dropshipping__array-bottom">
                    <use xlink:href="{{ templatePath }}images/sprite.svg#arrows__arrow-long-bottom"></use>
                </svg>
            </div>
            <div class="dropshipping__snippet">
                <svg viewBox="0 0 56 56">
                    <use xlink:href="{{ templatePath }}images/sprite.svg#dropshipping__delivery"></use>
                </svg>
                <div class="dropshipping__snippet-description">
                    <div class="dropshipping__snippet-title">{{ 'dropshipping.shipping.title'|trans }}</div>
                    <div class="dropshipping__snippet-text">{{ 'dropshipping.shipping.text'|trans }}</div>
                </div>
            </div>
        </div>
        <div class="dropshipping__for-details">
            <span>{{ 'dropshipping.learn_about'|trans }}</span>
            <a href="/images/country/globus.png" download class="dropshipping__presentation">{{ 'dropshipping.presentation'|trans }}</a>
        </div>
    </div>
</div>