<component is="profile">
    <template v-slot:my-profile>
        <div class="profile__personalcab-layout">
            <div class="profile__personalcab-flex_space">
                <h2 class="profile__title">Личные данные</h2>
                <a href="" class="profile__link profile__link_title">
                    <svg viewBox="0 0 20 20">
                        <use :xlink:href="templatePath + 'images/sprite.svg#icons__download'"></use>
                    </svg>
                    Выгрузить каталог
                </a>
            </div>
            <div class="profile__personalcab-flex_company">
                <div class="profile__company-logo">
                    <svg viewBox="0 0 72 72">
                        <use :xlink:href="templatePath + 'images/sprite.svg#company-logo'"></use>
                    </svg>
                </div>
                <div class="profile__company">
                    <h3 class="profile__company-name">{{profile.company.name}}</h3>
                    <p class="profile__company-type">Юридическое лицо</p>
                </div>
            </div>
            <ul class="profile__personalcab-columns">
                <li class="profile__personalcab-column">
                    <svg viewBox="0 0 24 24">
                        <use :xlink:href="templatePath + 'images/sprite.svg#icons__user-profile'"></use>
                    </svg>
                    <div>
                        <p class="profile__personalcab-data">Контактное лицо</p>
                        <div class="profile__personalcab-data-value">{{profile.contact}}</div>
                    </div>
                </li>
                <li class="profile__personalcab-column">
                    <svg viewBox="0 0 24 24">
                        <use :xlink:href="templatePath + 'images/sprite.svg#icons__call'"></use>
                    </svg>
                    <div>
                        <p class="profile__personalcab-data">Телефон</p>
                        <div class="profile__personalcab-data-value">{{profile.phone}}</div>
                    </div>
                </li>
                <li class="profile__personalcab-column">
                    <svg viewBox="0 0 24 24">
                        <use :xlink:href="templatePath + 'images/sprite.svg#icons__edit'"></use>
                    </svg>
                    <div>
                        <p class="profile__personalcab-data">Код доступа</p>
                        <div class="profile__personalcab-data-value">{{profile.code}}</div>
                    </div>
                </li>
                <li class="profile__personalcab-column">
                    <svg viewBox="0 0 24 24">
                        <use :xlink:href="templatePath + 'images/sprite.svg#icons__3d'"></use>
                    </svg>
                    <div>
                        <p class="profile__personalcab-data">Компания</p>
                        <div class="profile__personalcab-data-value">{{profile.company.name}}</div>
                    </div>
                </li>
                <li class="profile__personalcab-column">
                    <svg viewBox="0 0 24 24">
                        <use :xlink:href="templatePath + 'images/sprite.svg#icons__mail'"></use>
                    </svg>
                    <div>
                        <p class="profile__personalcab-data">Электронная почта</p>
                        <div class="profile__personalcab-data-value">{{profile.email}}</div>
                    </div>
                </li>
                <li class="profile__personalcab-column">
                    <svg viewBox="0 0 24 24">
                        <use :xlink:href="templatePath + 'images/sprite.svg#icons__location'"></use>
                    </svg>
                    <div>
                        <p class="profile__personalcab-data">Юридический адрес</p>
                        <div class="profile__personalcab-data-value">{{profile.address}}</div>
                    </div>
                </li>
            </ul>
            <a href="" class="profile__link">Изменить данные</a>
        </div>
        <div class="profile__personalcab-layout">
            <h4 class="profile__personalcab-title">Пароль и авторизация</h4>
            <a href="" class="profile__link">Изменить пароль</a>
        </div>
        <div class="profile__personalcab-layout">
            <h4 class="profile__personalcab-title">Удаление профиля</h4>
            <a href="" class="profile__link">
                <svg viewBox="0 0 20 20">
                    <use :xlink:href="templatePath + 'images/sprite.svg#icons__delete'"></use>
                </svg>
                Удалить профиль
            </a>
        </div>
    </template>
    <template v-slot:order-list>2</template>
    <template v-slot:my-check>3</template>
    <template v-slot:address-list>4</template>
    <template v-slot:my-favorite>5</template>
    <template v-slot:actions>6</template>
</component>